[core]
	excludesfile = ~/.gitignore-global
	editor = runemacs -nw
	autocrlf = input
	pager = less --LONG-PROMPT --tabs=3 --quit-if-one-screen --tilde --jump-target=3 --ignore-case --status-column
[user]
	name = "Lucien Greathouse"
	email = me@lpghatguy.com
[merge]
	conflictstyle = diff3
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	s = status
	a = add
	d = diff
	root = rev-parse --show-toplevel
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
[push]
	default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	verbose = true
[credential]
	helper = C:/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
